* {
    outline: 1px solid red;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

ul li {
    text-align: center;
    height: 30px;
    padding-top: 8px;
    background-color: #3b3a3b;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-container {
    width: 340px;
    padding: 50px;
    margin: 20px 0 20px 0;
}